@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@-moz-keyframes grain {
    0%, 100% {
      -moz-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    10% {
      -moz-transform: translate(-5%, -10%);
      transform: translate(-5%, -10%);
    }
    20% {
      -moz-transform: translate(-15%, 5%);
      transform: translate(-15%, 5%);
    }
    30% {
      -moz-transform: translate(7%, -25%);
      transform: translate(7%, -25%);
    }
    40% {
      -moz-transform: translate(-5%, 25%);
      transform: translate(-5%, 25%);
    }
    50% {
      -moz-transform: translate(-15%, 10%);
      transform: translate(-15%, 10%);
    }
    60% {
      -moz-transform: translate(15%, 0%);
      transform: translate(15%, 0%);
    }
    70% {
      -moz-transform: translate(0%, 15%);
      transform: translate(0%, 15%);
    }
    80% {
      -moz-transform: translate(3%, 35%);
      transform: translate(3%, 35%);
    }
    90% {
      -moz-transform: translate(-10%, 10%);
      transform: translate(-10%, 10%);
    }
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url("./img/background-tile.webp");
    background-repeat: repeat;
    background-color: black;
    background-attachment: scroll;
    overflow-x: hidden;
    color: white;
}

body:after {
    background-image: url(./img/background-tile2.webp);
    content: "";
    position: fixed;
    height: 300%;
    width: 300%;
    top: -100%;
    left: -50%;
    opacity: 0.5;
    -webkit-animation: grain 8s steps(10) infinite;
    -moz-animation: grain 8s steps(10) infinite;
    -o-animation: grain 8s steps(10) infinite;
    animation: grain 8s steps(10) infinite;
    z-index: -1;
}

body h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
}

body, p, span, a, li, input {
    font-family: 'Space Grotesk', sans-serif;
}

hr {
    width: 70vw;
    margin: 0 auto;
    border: 1px solid white;
}

.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: bold;
}

.sidenav a:hover {
    color: #3C7A89;
}

.sidenav img {
    filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(51deg) brightness(106%) contrast(100%);    
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.background-img {
    background-image: url("./img/album-image.jpeg");
    width: 102%;
    height: 102%;
    position: absolute;
    top: -1%;
    left: -1%;
    background-position: center;
    background-size: cover;
    filter: blur(5px) brightness(38%);
    z-index: -1;
    -webkit-mask-image: linear-gradient(180deg, black 50%, transparent 100%);
    mask-image: linear-gradient(180deg, black 50%, transparent 100%);
  }

.main-header {
    display: grid;
    grid-template-columns: repeat(auto, 10);
    grid-template-rows: repeat(10, auto);
    height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: column;
    grid-column: 10;
    grid-row: 1 / 5;
    padding-right: 2.5rem;
    padding-top: 3rem;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    right: 3%;
}

.navbar img {
    filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(51deg) brightness(106%) contrast(100%);
}

.menu-icon-container img {
    width: 2.5rem;
    height: 2.5rem;
}

.social-container img {
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 1rem;
}

.social-container {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}

.spotify-icon-container {
    grid-column: 1;
    grid-row: 1;
}

.spotify-icon-container img {
    filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(51deg) brightness(106%) contrast(100%);
    height: 4rem;
    width: 4rem;
    margin: 3rem 0 0 5rem;
}

.spotify-icon-container img:hover {
    filter: invert(47%) sepia(38%) saturate(1928%) hue-rotate(105deg) brightness(104%) contrast(77%);
    transition: .1s;
}

.cover-header {
    display: flex;
    flex-direction: row;
    grid-column: 2 / 10;
    grid-row: 3 / 10;
    width: 80vw;
    margin: 0 auto;
}

.album-cover {
    display: flex;
    flex-direction: row;
}

.album-cover img {
    aspect-ratio: 1;
    overflow: hidden;
    object-fit: contain;
    min-width: 408px;
}

.album-cover span {
    display: flex;
    justify-content: flex-start;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding-top: 8.4rem;
    padding-left: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.album-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: -5rem 0 0 7rem;
}

.album-info h1 {
    font-size: 7rem;
    letter-spacing: .3rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F1F1F1;
    -webkit-text-fill-color: transparent;
}

.album-info p {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5rem;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.play-button {
    display: flex;
    align-items: center;
    padding: 1.2rem;
    background-color: #3C7A89;
    color: white;
    border: none;
}

.play-button span {
    font-size: 1.6rem;
    font-weight: bold;
    margin-right: 1rem;
    text-transform: uppercase;
}

.play-button img {
    filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(51deg) brightness(106%) contrast(100%);
    width: 4rem;
    height: 4rem;
    margin-right: .5rem;
}

.play-button:hover {
    background-color: white;
    color: black;
}

.play-button:hover img {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(212deg) brightness(106%) contrast(105%);
}

.share-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid white;
    margin-left: 1rem;
}

.share-button img {
    filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(51deg) brightness(106%) contrast(100%);
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.share-button:hover {
    background-color: white;
    color: black;
}

.share-button:hover img {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(212deg) brightness(106%) contrast(105%);
}

.platforms {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.platforms h1 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1rem;
}

.platforms-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;
    width: 50%;
}

.platform-icon {
    width: 5rem;
    height: 5rem;
    filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(51deg) brightness(106%) contrast(100%);
}

.platform-icon:hover {
    transition: .1s;
}

#soundcloud:hover {
    filter: invert(42%) sepia(100%) saturate(6512%) hue-rotate(7deg) brightness(107%) contrast(102%);
}

#deezer:hover {
    filter: invert(72%) sepia(54%) saturate(3816%) hue-rotate(145deg) brightness(95%) contrast(103%);
}

#youtube:hover {
    filter: invert(16%) sepia(43%) saturate(7058%) hue-rotate(355deg) brightness(106%) contrast(128%);
}

#spotify:hover {
    filter: invert(47%) sepia(95%) saturate(369%) hue-rotate(88deg) brightness(100%) contrast(100%);
}

#itunes:hover {
    filter: invert(54%) sepia(76%) saturate(7285%) hue-rotate(331deg) brightness(101%) contrast(105%);
}

.tracklist-section {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: auto;
}

.tracklist-section h1 {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1rem;
    margin-top: 8rem;
}

.track-container {
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-between;
    padding-top: 4rem;
}


.track-info, .track-spec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.track-spec p {
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 2rem;
}

.track-info p {
    width: 4rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: .4rem;
}

.track-info h2 {
    font-size: 3rem;
    letter-spacing: .1rem;
}

.track-info h3 {
    font-size: 2rem;
    font-family: 'Space Grotesk', sans-serif;
}

.track-spec img {
    filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(51deg) brightness(106%) contrast(100%);
    height: 2rem;
    width: 2rem;
}

.audio-player-container button {
    padding: 0;
    border: 0;
    margin-right: 2rem;
    background: inherit;
    cursor: pointer;
    outline: none;
    width: 2rem;
    height: 2rem;
    filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(51deg) brightness(106%) contrast(100%);

}

  .tracklist-section:last-child {
    margin-bottom: 5rem;
  }
    
.video-section {
    width: 70vw;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
.video-section h1 {
    align-items: flex-start;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1rem;
    margin-top: 8rem;
    margin-bottom: 2rem;
  }

.video-section iframe {
    width: 100%;
    height: 500px;
    margin-bottom: 10rem;
  }

.final-section {
    width: 65vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.addinfo-container {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.contact-container {
    width: calc(100%/3);
}

.final-section ul {
    list-style-type: none;
    font-size: 2.4rem;
    text-transform: uppercase;
}

.final-section li {
    margin: 1rem 0;
}

.final-section a {
    text-decoration: none;
    color: white;
}

.final-section a:hover {
    color: #3C7A89;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 4rem;
}

.contact-container h2 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: .2rem;
    margin-top: 3rem;
}

.contact-container p {
    text-align: left;
    color: rgb(119, 119, 119);
    width: 90%;
    margin: 0 auto;
    font-style: italic;
    font-size: 1.6rem;
    margin: 1rem 0;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(70, 70, 70);
    margin-top: 1rem;
}

.input-container input {
    width: 90%;
    background: transparent;
    border: none;
    color: rgb(118, 118, 118);
    margin: 1rem 0;
    font-size: 1.4rem;
}

.input-container button {
    width: 4rem;
    height: 4rem;
    background-image: url("./img/bx-right-arrow-alt.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    filter: invert(14%) sepia(10%) saturate(13%) hue-rotate(358deg) brightness(94%) contrast(81%);
}

.input-container button:hover {
    background-color: white;
}

footer {
    width: 70vw;
    margin: 0 auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    font-weight: bold;
    font-size: 1.4rem;
}

footer a:hover {
    color: #3C7A89;
    transition: 0.2s;
}